{{#extends 'base'}}
{{#block "content"}}

<h1>Edit Review</h1>
    <form method="POST" action="/edit/reviews/{{entries._id}}">
        <div>
            <label>Restaurant</label>
            <input type="text" name="restaurant" value="{{entries.restaurant}}" class="form-control"/>
        </div>
        <div>
            <label>Title:</label>
            <input type="text" name="title" value="{{entries.title}}" class="form-control"/>
        </div> 
        <div>
            <label>Cuisine:</label>
            <input type="text" name="cuisine" value="{{entries.cuisine}}" class="form-control"/>
        </div>
        <div>
            <label>Write Review</label>  
            <input type="text" name="review" value="{{entries.review}}" class="form-control"/>
        </div>
        <div>
            <label>Ratings</label> 
            <label>{{entries.ratings}}</label> 
            <input type="radio" class="form-check-input" name="ratings" value="1"/>
            <label class="form-check-label">1 star</label>
            <input type="radio" class="form-check-input" name="ratings" value="2" />
            <label class="form-check-label">2 star</label>
            <input type="radio" class="form-check-input" name="ratings" value="3"/>
            <label class="form-check-label">3 star</label>
            <input type="radio" class="form-check-input" name="ratings" value="4"/>
            <label class="form-check-label">4 star</label>
            <input type="radio" class="form-check-input" name="ratings" value="5"/>
            <label class="form-check-label">5 star</label>
        </div>
        <div>
            <input type="submit" class="btn btn-primary mt-3"/>
        </div>
</form>


{{/block}}
{{/extends}}