{{#extends 'base'}}

{{#block "content"}}

<h1>Search</h1>
<form method="GET" action="/find-restaurant">
    <label>Restaurant Name</label>
    <input type="text" class="form-control" name="restaurant"/>

    <div>
        <input type="submit" class="btn btn-dark mt-3" value="Search"/>
    </div>
</form>

{{#each entries}}
    <div class="find">
        <hr>
        <h4>{{restaurant}}</h4>
        <p class="title">{{title}}</p>
        <p class="date">{{date}}</p>
        <p class="cuisine">{{cuisine}}</p>
        <p class="foodordered">{{foodordered}}</p>
        <p>{{review}}</p>
        <p>{{ratings}}</p>

        <form method="POST" action="/delete/reviews/{{_id}}">
            <div>
                <input type="submit" class="btn btn-dark mt-3" value="Delete"/>
            </div>
        </form>
        <form method="POST" action="/reviews/{{_id}}">
            <div>
                <input type="submit" class="btn btn-light border-dark mt-3" value="Edit"/>
            </div>
        </form>
    </div>
{{/each}}

{{/block}}

{{/extends}}