{{#extends 'base'}}

{{#block "content"}}

<h1>Restaurant Name</h1>
<form method="GET" action="/find-restaurant">
    <label>Restaurant Name</label>
    <input type="text" class="form-control" name="restaurant"/>

    <div>
        <input type="submit" class="btn btn-primary mt-3"/>
    </div>
</form>

{{#each entries}}
<div>
    <hr>
    <h4>{{restaurant}}</h4><br>
    <p>{{title}}</p><br>
    <p>{{cuisine}}</p><br>
    <p>{{review}}</p><br>
    <p>{{ratings}}</p><br>

    <form method="POST" action="/delete/reviews/{{_id}}">
        <div>
            <input type="submit" class="btn btn-primary mt-3" value="Delete"/>
        </div>
    </form>
    <form method="GET" action="/reviews/{{_id}}">
        <div>
            <input type="submit" class="btn btn-primary mt-3" value="Edit"/>
        </div>
    </form>
</div>
{{/each}}

{{/block}}

{{/extends}}